/* set a wider default column width */
:root {
  --sl-content-width: 50rem;
}

/* improve headings */
main h1 { font-size: 2rem;}
main h2 { font-size: 1.8rem;}
main h3 { font-size: 1.6rem;}
main h4 { font-size: 1.4rem;}
main h5 { font-size: 1.2rem;}
main h6 { font-size: 1rem;}

/* improve icon display */
.sl-markdown-content .inline-icon {
  display: inline;
  vertical-align: middle;
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #2d1d2e;
	--sl-color-accent: #8a508e;
	--sl-color-accent-high: #d6c0d7;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeebff;
	--sl-color-gray-2: #c8c5dd;
	--sl-color-gray-3: #a49dcb;
	--sl-color-gray-4: #59517b;
	--sl-color-gray-5: #393158;
	--sl-color-gray-6: #281f44;
	--sl-color-black: #181526;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #e1d1e1;
	--sl-color-accent: #713975;
	--sl-color-accent-high: #412842;
	--sl-color-white: #181526;
	--sl-color-gray-1: #281f44;
	--sl-color-gray-2: #393158;
	--sl-color-gray-3: #59517b;
	--sl-color-gray-4: #8c84b1;
	--sl-color-gray-5: #c2bfd7;
	--sl-color-gray-6: #eeebff;
	--sl-color-gray-7: #f6f5ff;
	--sl-color-black: #ffffff;
}